<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyTickets | Dashboard</title>
    <link rel="icon" href="/Images/Icons/Ticket-200.png">
    <link rel="stylesheet" href="/Dashboard/Dashboard/style.css">
</head>
<body>
    <div class="main" id="main">
        <div class="server" id="server">
            <img class="server-img" id="server-img">
            <div class="server-name" id="server-name"></div>
            <div class="server-member" id="server-member"></div>
            <button class="server-leave" id="server-leave">Leave</button>
        </div>
        <div class="menu-bar" id="menu-bar">
            <div class="menu-point">Tickets</div>
            <div class="menu-item" id="menu-item-tickets">
                <div class="menu-item-name">Your Tickets</div>
                <img class="menu-item-img" src="/Images/Icons/Ticket-200.png">
            </div>
            <div class="menu-item" id="menu-item-new">
                <div class="menu-item-name">New</div>
                <img class="menu-item-img" src="/Images/Black/Add.png">
            </div>
            <div class="menu-item" id="menu-item-prebuilds">
                <div class="menu-item-name">Prebuilds</div>
                <img class="menu-item-img" src="/Images/Black/Prebuild.png">
            </div>
            <div class="menu-point">More</div>
            <div class="menu-item" id="menu-item-support">
                <div class="menu-item-name">Support</div>
                <img class="menu-item-img" src="/Images/Black/Support.png">
            </div>
            <div class="menu-item" id="menu-item-donate">
                <div class="menu-item-name">Donate</div>
                <img class="menu-item-img" src="/Images/Black/Donate.png">
            </div>
        </div>
        <div class="menu-items" id="menu-items">
            <div class="menu-text">Thanks for using this bot</div>
        </div>
        <img class="user-menu-button" id="user-menu-button">
        <div class="user-menu" id="user-menu">
            <img class="user-menu-close" id="user-menu-close" src="/Images/Black/Close.png">
            <div class="user-item-list" id="user-item-list">
                <div class="user-menu-item" id="user-menu-item-logout">
                    <div class="user-menu-item-name">Logout</div>
                    <img class="user-menu-item-img" src="/Images/Black/Logout.png">
                </div>
            </div>
        </div>
    </div>
    <script src="/Dashboard/Dashboard/script.js"></script>
</body>
</html>