<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyTickets | Servers</title>
    <link rel="icon" href="/Images/Icons/Ticket-200.png">
    <link rel="stylesheet" href="/Servers/style.css">
</head>
<body>
    <div class="main" id="main">
        <img class="user-menu-button" id="user-menu-button">
        <div class="user-menu" id="user-menu">
            <img class="user-menu-close" id="user-menu-close" src="/Images/Black/Close.png">
            <div class="user-item-list" id="user-item-list">
                <div class="user-menu-item" id="user-menu-item-logout">
                    <div class="user-menu-item-name">Logout</div>
                    <img class="user-menu-item-img" src="/Images/Black/Logout.png">
                </div>
            </div>
        </div>
        <div class="list-title" id="list-title">Your Servers</div>
        <div class="servers-list" id="servers-list">
            
        </div>
    </div>
    <script src="/Servers/script.js"></script>
</body>
</html>